.container {
  display: flex;
}

.grid-user {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: lightblue;
  margin: 20px;
}

.grid div {
  width: 40px;
  height: 40px;
}

.grid-ai {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: lightcoral;
  margin: 20px;
}

.grid-choose-ships {
  width: 400px;
  height: 400px;
  background-color: lightgreen;
  margin: 20px;
}

.destroyer-container {
  width: 80px;
  height: 40px;
  background-color: darkblue;
  margin: 10px;
  display: flex;
}

.submarine-container {
  width: 120px;
  height: 40px;
  background-color: darkcyan;
  margin: 10px;
  display: flex;
}

.cruiser-container {
  width: 120px;
  height: 40px;
  background-color: chartreuse;
  margin: 10px;
  display: flex;
}

.battleship-container {
  width: 160px;
  height: 40px;
  background-color: darkorange;
  margin: 10px;
  display: flex;
}

.carrier-container {
  width: 200px;
  height: 40px;
  background-color: darkred;
  margin: 10px;
  display: flex;
}

.ship div {
  width: 40px;
  height: 40px;
}

.destroyer {
  background-color: darkblue;
}

.submarine {
  background-color: darkcyan;
}

.cruiser {
  background-color: chartreuse;
}

.battleship {
  background-color: darkorange;
}

.carrier {
  background-color: darkred;
}
